{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VSHN Pod Status</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body class="bg-image">
    <main class="container position-absolute top-0 end-0">
        {% block content %}{% endblock %}
    </main>
</body>

</html>