{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VSHN Pod Status</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<body>
    <main class="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="img-fluid mx-auto d-block w-50 m-5">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center m-5">
        {% block footer %}
        <small> &copy;
            <script>document.write(new Date().getFullYear())</script> <a href="https://www.vshn.ch">VSHN AG</a> - Made
            with <a href="https://github.com/vshn/conferenceli/" target="_blank">conferenceli</a>
        </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/alert-autoclose.js') }}"></script>
</body>

</html>