{% extends 'base.html' %}

{% block content %}
<h1>Status of Pods on Raspberry Pi</h1>
<div id="pod-status">
    Loading...
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
            const eventSource = new EventSource("/stream");
            let firstEvent = true;

            eventSource.onmessage = function (event) {
                const data = JSON.parse(event.data.replaceAll("'", '"'));
                const podStatus = data;
                const podName = podStatus.name;
                const podStatusValue = podStatus.status;
                const podIndex = podStatus.index;

                if (firstEvent) {
                    document.getElementById('pod-status').innerHTML = '';
                    firstEvent = false;
                }

                let podElement = document.getElementById(podName);
                if (!podElement) {
                    podElement = document.createElement('div');
                    podElement.id = podName;
                    podElement.className = 'pod';
                    document.getElementById('pod-status').appendChild(podElement);
                }

                podElement.innerHTML = `<strong>${podName}</strong>: ${podStatusValue}`;
                podElement.style.backgroundColor = podStatusValue === 'Running' ? '#00bc8c' :
                    podStatusValue === 'Pending' ? '#f39c12' : '#e74c3c';
            };
        }, 1000); // Delay of 1 second before initializing SSE connection
    });
</script>
<style>
    .pod {
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: white;
    }
</style>
{% endblock %}