.bg-image {
    background-image: url('/static/images/background.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

@media (max-width: 767px) {
    .bg-image {
        background-image: url('/static/images/background-mobile.webp');
    }
}