@media (max-width: 767px) {
    .bg-image {
        background-image: none;
        background-color: #4081CB;
    }
}

main h1 {
    text-align: center;
}

.container {
    max-width: 850px;
}

footer {
    color: white;
}

footer a {
    color: white;
}