.bg-image {
    background-image: url('/static/images/background.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 767px) {
    .bg-image {
        background-image: none;
    }
}

main h1 {
    text-align: center;
}

.container {
    max-width: 850px;
}

footer {
    color: white;
}

footer a {
    color: white;
}